body{
    margin: 0;
    height: 100vh;
    display: grid;
     grid-template-areas:
    'header header header'
    'navigaatio navigaatio navigaatio'
    'sivupalkki sisalto sisalto'
    'status status status';
      grid-template-columns: 10em 2fr 1fr;
  grid-template-rows: 5em 3em auto 3em;
  background-image: url("valtameri.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1800px;
}


nav {
    grid-area: navigaatio;
    background-color:rgb(17, 145, 145);
    border-style: solid;
    border-color: black;
    padding-left: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
}
main {
    grid-area: sisalto;
    background-color: teal;
    border-style: solid;
    border-color: black;
}
aside {
    grid-area: sivupalkki;
    background-color: rgb(122, 188, 233);
    border-style: solid;
    border-color: black;
}
footer {
    grid-area: status;
    background-color: rgb(179, 102, 224);
    border-style: solid;
    border-color: black;
    height: 20px;
    background-image:url("volcano.webp");
    background-repeat: repeat;
  }
 header{
    grid-area: header;
    background-color: rgb(112, 177, 189);
    padding-left: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-indent: 3em;
}
@media screen and (min-width: 640px) {
  h1 {
    font-size: 60px;
  }
  h2{
    font-size: 48px;
  }
  h3{
    font-size: 32px;
  }
  h4{
    font-size: 18px;
  }
  body{
    margin-left: 64px;
    margin-right: 64px;
  }


}
@media screen and (max-width:640px){
h1{
  font-size: 32px;
}
h2{font-size: 26px;}
h3{font-size: 22px;}
h4{font-size: 18px;}
body{
  margin-left: 16px;
  margin-right: 16px;
}

}
@media all and (min-width: 650px) {

}

@media all and (max-width: 640px) {

}