h1{
    color: rgba(38, 8, 122);
    background-color: cyan;
    font-size: 60px;
}
h2{
font-size: 48px;
color: rgb(38, 8, 122);
    background-color: cyan;
}
h3{
    color: rgb(138, 8, 122);
    background-color: cyan;
font-size: 32px;
}
h4{
    color: rgb(38, 8, 122);
    background-color: cyan;
font-size: 14px;
}
h5{
    color: rgb(38, 8, 122);
    background-color: cyan;

}
h6{
    color: rgb(38, 8, 122);
    background-color: cyan;

}
body{
    margin-left: 64px;
    margin-right: 64px;
}
a{
    color: deepskyblue;
}
a:visited{
    color: brown;
}
a:hover{
    color: rgb(58, 44, 68);
}
button{
    background-color: rgb(58,44,68);
    color: white;
}
button:hover{
    background-color:deepskyblue ;
}
form:focus{
    background-color: rgb(255, 253, 111);
}
li:last-child{
    font-style: italic;
}
@font-face {
    font-family:"SmoochSans";
    src: url("../static/SmoochSans-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Smoochboldsans";
    src: url("../static/SmoochSans-Bold.ttf");
    font-weight: bold
}
p{
    font-family: "Robotocondensed";
} 
@font-face {
    font-family: "Robotocondensed";
    src: url("../static/static/RobotoCondensed-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "robotobold";
    src: url("../static/static/RobotoCondensed-Bold.ttf");
    font-weight: bold;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Smoochsans"
}
