h1{
    color: rgba(38, 8, 122);
    background-color: cyan;
    font-size: 60px;
}
h2{
font-size: 48px;
color: rgb(38, 8, 122);
    background-color: cyan;
}
h3{
    color: rgb(138, 8, 122);
    background-color: cyan;
font-size: 32px;
}
h4{
    color: rgb(38, 8, 122);
    background-color: cyan;
font-size: 14px;
}
h5{
    color: rgb(38, 8, 122);
    background-color: cyan;

}
h6{
    color: rgb(38, 8, 122);
    background-color: cyan;

}
body{
    margin-left: 64px;
    margin-right: 64px;
}
